<h1>Welcome to Chitter</h1>
<h2>sign up</h2>
<form action="/user/new" method="post">
  <input type="text" name="name" placeholder="Name" />
  <input type="text" name="username" placeholder="Username" />
  <input type="text" name="email" placeholder="Email" />
  <input type="text" name="password" placeholder="password" />
  <input type="submit" value="submit" />
</form>
